<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/style-products-all.css">
</head>

<body>

    <%- include('../partials/header') %>

        <div class="slider-home col-12">
            <img src="/image/home/slider-home.png" width="100%" alt="Slider Home">
        </div>
        <!-- Secci칩n Buscador -->

        <div class="search-container">
            <div class="search-nav">
                <form action="" class="search-form">

                    <div class="search">
                        <input type="text" name="key-word" id="key-word" placeholder="Buscar sala, artista, recinto...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div>
                        <select name="categories" id="categories">
                            <option selected="selected">Categorias</option>
                            <option value="clasic">Cl치sica</option>
                            <option value="rock">Rock</option>
                            <option value="salsa">Salsa</option>
                            <option value="reggaeton">Reggaeton</option>
                        </select>
                    </div>
                    <div>
                        <input type="date" name="event-date" id="event-date">
                    </div>
                    <div class="place">
                        <input type="text" name="event-place" id="event-place" placeholder="Lugar">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>

                    <input class="search-btn" type="button" value="Buscar">
                </form>
            </div>
        </div>
        <!-- FIN -- Secci칩n Buscador -->
        <!-- Secci칩n Destacados -->
        <section class="section-events">

            <div class="section-title col-12">
                <h2>Todos los eventos</h2>
                <hr class="line-title">
            </div>
            <div class="events-container">
                <% events.forEach(event=> { %>
                    <article class="article-container">
                        <div class="article-image">
                            <a href="./detail/<%=event.id%>">
                                <img src="/image/products/<%= event.imageEvent %> " alt="">
                            </a>
                        </div>

                        <div class="article-title">
                            <h2>
                                <%= event.artist %>
                            </h2>
                            <h4>
                                <%= event.subtitle %>
                            </h4>
                        </div>

                        <div class="article-information-general">
                            <div class="icons">
                                <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <div class="price-icon"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                <div class="place-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="article-information-specific">
                                <div class="event-date">
                                    <p>
                                        <% if (event.id === functions[0].event_id) {%>
                                         <%= functions[0].date %>  a las <%= functions[0].time %>.
                                         <% } %> 
                                </p>
                                </div>
                                <div class="event-price">
                                    <p> 
                                        <% if (event.id === tickets[0].event_id) {%>
                                            Desde $<%= tickets[0].price %> .-
                                            <% } %> 
                                         
                                    </p>
                                </div>
                                <div class="event-place">
                                    <p>
                                        <% for( let i = 0; i < teaters.length; i++) {%>
                                            <% if (event.teater_id === teaters[i].id) {%>
                                                <%= teaters[i].name%>
                                                <% }} %>,
                                        <% for( let i = 0; i < citys.length; i++) {%>
                                            <% if (event.city_id === citys[i].id) {%> 
                                                <%= citys[i].cityName %>.
                                                <% }} %>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="article-buttons">
                            <form action="/products/delete/<%=event.id%>?_method=DELETE" method="POST">
                                <button type="submit" class="delete-button">Eliminar</button>
                            </form>
                            
                             <a class="update-button" href="/products/edit/<%= event.id%>" >Modificar</a>
                            

                            </form>
                        </div>
                    </article>
                    <% }) %>
            </div>
        </section>
        <%- include('../partials/footer') %>
</body>

</html>