<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    <link rel="stylesheet" href="../css/style-create-product.css">
    </head>

    <body>

        <%- include('../partials/header') %>

            <main>
                <section class="section-form-event-create">
                    <form action="/products/create" method="POST" class="form-crear-evento"
                        enctype="multipart/form-data" id="form">
                        <div class="image-banner no-charged"
                            style="background-image: url(/image/add-image-default.png) ;">
                            <div class="titulo-principal-box">
                                <div class="form-group event-principal-title">
                                    <label for="event-title">
                                        <input class="form-control artist" type="text" id="artist" maxlength="50" name="artist"
                                            placeholder="Título">
                                        <i class="fa-solid fa-pen"></i>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </label>
                                    <small>Error message</small>
                                </div>
                                <div class="form-group">
                                    <label for="event-description">
                                        <input class="form-control subtitle" type="text" id="subtitle" maxlength="150"
                                            name="subtitle" placeholder="Subtítulo">
                                        <i class="fa-solid fa-pen"></i>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </label>
                                    <small>Error message</small>
                                </div>
                            </div>
                            <div class="btn-img-box form-group">
                                <label for="image" class="form-label"> <i class="fa-regular fa-image"></i><i
                                        class="fa-solid fa-plus"></i></label>
                                <input type="file" name="image" id="image" class="form-input">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <div><small>Error message</small></div>

                            </div>

                        </div>
                        <section class="data">
                            <div class="form-data-box">
                                <h4 class="form-data-box-title">Datos de localización</h4>
                                <div class="form box-white">
                                    <div class="inputs-row">
                                        <div class="form-group">
                                            <label for="country_id">País*</label>
                                            <select class="form-control" name="country_id" id="country_id" required>
                                                <% countries.forEach(country=> { %>
                                                    <option value="<%= country.id%>">
                                                        <%=country.countryName%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="state_id">Provincia*</label>
                                            <select class="form-control" name="state_id" id="state_id" required>
                                                <% states.forEach(state=> { %>
                                                    <option value="<%= state.id%>">
                                                        <%=state.stateName%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="city_id">Ciudad*</label>
                                            <select class="form-control" name="city_id" id="city_id" required>
                                                <% citys.forEach(city=> { %>
                                                    <option value="<%= city.id%>">
                                                        <%=city.cityName%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class="form-group stage">
                                            <label for="teater_id">Teatro o lugar*</label>
                                            <select class="form-control" name="teater_id" id="teater_id">
                                                <% teaters.forEach(teater=> { %>
                                                    <option value="<%= teater.id%>">
                                                        <%=teater.name%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-data-box function-form">
                                <div>
                                    <h4 class="form-data-box-title">Datos de función/es</h4>
                                    <div class="add-btn-box">
                                        <button class="btn-add-show addFunction" type="button" id="addFunction">
                                            <i class="fa-solid fa-plus"></i>
                                            Añadir una función
                                        </button>
                                    </div>
                                </div>
                                <div class="form box-white functionBoxWhite" id="functionBoxWhite">
                                    <div class="functionsRow" id="functionsRow">
                                        <div class="inputs-row function-row-div">
                                            <div class="form-group date function">
                                                <label for="date">Fecha de función*
                                                    <i class="fas fa-check-circle"></i>
                                                    <i class="fas fa-exclamation-circle"></i>
                                                </label>
                                                <input class="form-control dateEvent" type="date" name="date[]" id="date">
                                                <small>Error message</small>
                                            </div>
                                            <div class="form-group time function">
                                                <label for="time">Horario de inicio*
                                                    <i class="fas fa-check-circle"></i>
                                                    <i class="fas fa-exclamation-circle"></i>
                                                </label>
                                                <input class="form-control time" type="time" id="time" name="time[]" min="19:00" max="24:00">
                                                <small>Error message</small>
                                            </div>
                                            <div class="form-group time function">
                                                <label for="durationTime">Duración del show*
                                                    <i class="fas fa-check-circle"></i>
                                                    <i class="fas fa-exclamation-circle"></i>
                                                </label>
                                                <input class="form-control timeDuration" type="time" id="durationTime" name="durationTime[]" min="00:30"
                                                    max="03:00">
                                                <small>Error message</small>
                                            </div>
                                        </div>
                                        
                                        <div class="form box-white ticketBoxWhite" id="ticketBoxWhite">
                                            <div class="ticketRow" id="ticketRow">
                                                <div class="inputs-row ticket-row">
                                                    <div class="form-group ticketTypeGeneral">
                                                        <label for="ticketType1">Tipo de entrada*
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control ticketType" type="text" name="ticketType1[]"
                                                            placeholder="Ej: Pullman">
                                                        <small>Error message</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price1">Precio*
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control price" type="number" name="price1[]"
                                                            placeholder="Ej: 5000.-">
                                                        <small>Error message</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lot1">Cantidad disponible*
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control lot" type="number" name="lot1[]"
                                                            placeholder="Ej: 20">
                                                        <small>Error message</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form box-white ticketBoxWhite" id="ticketBoxWhite">
                                            <div class="ticketRow" id="ticketRow">
                                                <div class="inputs-row ticket-row">
                                                    <div class="form-group">
                                                        <label for="ticketType">Tipo de entrada
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control ticketType" type="text" maxlength="30"
                                                            name="ticketType2[]" placeholder="Ej: Pullman">
                                                        <small>Error message</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price2">Precio
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control price" type="number" name="price2[]"
                                                            placeholder="Ej: 5000.-">
                                                        <small>Error message</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lot2">Cantidad disponible
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control lot" type="number" name="lot2[]"
                                                            placeholder="Ej: 20">
                                                        <small>Error message</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form box-white ticketBoxWhite" id="ticketBoxWhite">
                                            <div class="ticketRow" id="ticketRow">
                                                <div class="inputs-row ticket-row">
                                                    <div class="form-group">
                                                        <label for="ticketType">Tipo de entrada
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control ticketType" type="text" maxlength="30"
                                                            name="ticketType3[]" placeholder="Ej: Pullman">
                                                        <small>Error message</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price3">Precio
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control price" type="number" name="price3[]"
                                                            placeholder="Ej: 5000.-">
                                                        <small>Error message</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lot3">Cantidad disponible
                                                            <i class="fas fa-check-circle"></i>
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </label>
                                                        <input class="form-control lot" type="number" name="lot3[]"
                                                            placeholder="Ej: 20">
                                                        <small>Error message</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-data-box">
                                <h4 class="form-data-box-title">Descripción del evento</h4>
                                <div class="form box-white">
                                    <div class="inputs-row description-row">
                                        <div class="form-group description-textarea">
                                            <label for="description">Descripción del evento*
                                                <i class="fas fa-check-circle"></i>
                                                <i class="fas fa-exclamation-circle"></i>
                                            </label>
                                            <textarea name="description" id="description" cols="80" rows="5"></textarea>
                                            <small>Error message</small>
                                        </div>
                                    </div>
                                    <div class="inputs-row">
                                        <div class="form-group">
                                            <label for="category_id">Categorias*</label>
                                            <select class="form-control linkYoutube" name="category_id" id="category_id">
                                                <% categories.forEach(category=> { %>
                                                    <option value="<%= category.id%>">
                                                        <%=category.name%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="showtype_id">Tipo de Show*</label>
                                            <select class="form-control" name="showtype_id" id="showtype_id">
                                                <% showtypes.forEach(showtype=> { %>
                                                    <option value="<%= showtype.id%>">
                                                        <%=showtype.type%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                           
                                        </div>
                                        <div class="form-group">
                                            <label for="linkYoutube">Link de youtube*
                                                <i class="fas fa-check-circle"></i>
                                                <i class="fas fa-exclamation-circle"></i>
                                            </label>
                                            <input class="form-control" type="text" id="linkYoutube" name="linkYoutube" placeholder="">
                                            <small>Error message</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-btns">
                               
                                <div class="right-btns-container">
                                    <div class="reset-btn-container">
                                        <button type="reset" class="reset-button">Resetear</button>
                                    </div>
                                    <div class="submit-btn-container">
                                        <button type="submit" class="submit-button">Crear evento</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>

                </section>


            </main>

            <%- include('../partials/footer') %>



                <script src="../../../js/createEvent.js"></script>
                <script type= "module" src="../../../js/createProductValidation.js"></script>
    </body>

</html>