<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/style-productDetail.css">
    </head>

    <body>


        <%- include('../partials/header') %>

            <main>

                <section class="image-banner">
                    <img src="/image/products/<%= product.image %>" alt="Imagen de Artista">
                    <div class="titulo-principal">
                        <div>
                            <h1>
                                <%= product.artist %>
                            </h1>
                            <p>
                                <%= product.subtitle %>
                            </p>
                        </div>
                        <div class="botones-titulo-principal">
                            <button class="boton-comprar">COMPRAR ENTRADA</button>
                            <button class="boton-carrito"><i class="fas fa-cart-plus"></i></button>
                        </div>
                    </div>
                </section>



                <section class="nav-pagina">
                    <nav>
                        <ul>
                            <ul class="lista-pagina">
                                <li><a href="#localidades"><i class="fa-solid fa-ticket"></i>LOCALIDADES</a></li>
                                <li><a href="#medios-pago"><i class="fa-solid fa-credit-card"></i>MEDIOS DE PAGO</a>
                                </li>
                                <li><a href="#descripcion"><i class="fa-solid fa-align-center"></i>DESCRIPCIÓN</a></li>
                                <li><a href="#como-llego"><i class="fa-solid fa-location-dot"></i>COMO LLEGAR</a></li>
                            </ul>
                    </nav>

                </section>

                <div class="boton-fixed">
                    <a href="#top"><i class="fas fa-chevron-up"></i></a>
                </div>


                <div class="event-information">
                    <section class="container information-tickets" id="localidades">
                        <div class="section-item date">
                            <form class="function-form" action="/" method="GET">

                                <select name="event-date">
                                    <option value="funcion1">
                                        <%= product.date1 %>
                                    </option>
                                    <option value="funcion2">Función 2</option>
                                    <option value="funcion3">Función 3</option>
                                    <option value="funcion4">Función 4</option>
                                </select>
                            </form>
                        </div>
                        <div class="section-item teater-map">
                            <img src="/image/mapa teatro.png" alt="Imagen de localidades">
                        </div>
                        <div class="section-item tickets">
                            <div class="localidades">
                                <!-- <h3>LOCALIDADES DISPONIBLES</h3>
                            <hr class="line-localidades"> -->
                                <table class="table">
                                    <tbody>

                                        <tr class="super-pullman">
                                            <td>
                                                <h4>
                                                    <%= product.ticketType1%>
                                                </h4>

                                                <p>Fila 01 a 16</p>
                                            </td>
                                            <td></td>
                                            <td>$</td>
                                            <td class="precio">
                                                <%=product.price1%>.-
                                            </td>
                                            <td class="color-superpullman"></td>
                                        </tr>

                                        <tr class="campo">
                                            <td>
                                                <h4>Campo</h4>

                                                <p>De pie</p>
                                            </td>
                                            <td></td>
                                            <td>$</td>
                                            <td class="precio">4000.-</td>
                                            <td class="color-campo"></td>
                                        </tr>


                                        <tr class="pullman-lateral">
                                            <td>
                                                <h4>Pullman Lateral</h4>

                                                <p>Fila 01 a 16</p>
                                            </td>
                                            <td></td>
                                            <td>$</td>
                                            <td class="precio">3500.-</td>
                                            <td class="color-pullmanlateral"></td>
                                        </tr>

                                        <tr class="cabecera">
                                            <td>
                                                <h4>Cabecera</h4>

                                                <p>Sentado sin numerar</p>
                                            </td>
                                            <td></td>
                                            <td>$</td>
                                            <td class="precio">2000.-</td>
                                            <td class="color-cabecera"></td>
                                        </tr>

                                        <tr class="silla-de-ruedas">
                                            <td>
                                                <h4>Silla de Ruedas</h4>

                                                <p>Sector limitado</p>
                                            </td>
                                            <td></td>
                                            <td>$</td>
                                            <td class="precio">1000.-</td>
                                            <td class="color-silla-ruedas"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </section>


                    <section class="container information-rules">
                        <div class="section-item rules">
                            <div class="rules-item">
                                <i class="fas fa-ban"></i>
                                <p> No se permite el ingreso de menores de 4 años. De 4 a 13 años sólo acompañados por
                                    mayor
                                    responsable.</p>
                            </div>

                            <div class="rules-item">
                                <i class="fas fa-door-open"></i>
                                <p>Apertura de puertas: 19:30 hs.</p>
                            </div>

                            <div class="rules-item">
                                <i class="fas fa-clock"></i>
                                <p>Duración aproximada: 2:30 hs.</p>
                            </div>

                        </div>
                        <div class="section-item paying-methods">
                            <h3>Medios de pago habilitados</h3>
                            <div class="cards">
                                <img src="/image/paidMethod/mastercard.svg" alt="mastercard">
                                <img src="/image/paidMethod/maestro.svg" alt="maestro">
                                <img src="/image/paidMethod/american-express-graphic-design-3.jpg"
                                    alt="american express">
                                <img src="/image/paidMethod/visa.png" alt="visa">
                                <img src="/image/paidMethod/mercadopago.png" alt="mercadopago">
                                <img src="/image/paidMethod/brubank.png" alt="brubank">

                            </div>
                        </div>

                    </section>


                    <section class="container information-description">
                        <div class="title-body">
                            <div class="description-title">
                                <h4 class="title-event">
                                    <%= product.artist%>
                                </h4>
                                <h5 class="subtitle-event-description">
                                    <%= product.subtitle%>
                                </h5>

                            </div>
                            <div class="description-body">
                                <div class="description-text">
                                    <p>
                                        <%= product.description%>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="video-box">
                            <iframe width="100%" height="380" src="https://www.youtube.com/embed/hZrqe1riqmw"
                                title="Carpa Delirio 2022" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </section>


                    <section class="container information-location">
                        <div class="location-transportation">
                            <div class="location-title">
                                <h4>Cómo llegar</h4>
                            </div>
                            <div class="location-body">
                            <div class="busses">
                                <h5 class="tranport-title"><i class="fa-solid fa-bus"></i> Colectivos</h5>
                                <p>4, 6, 7, 20, 22, 23, 26, 28, 29, 33, 50, 56, 61, 62, 64, 74, 91, 93, 99, 105, 109,
                                    111, 126, 129,
                                    130, 140, 143, 146, 152, 159, 180, 195</p>
                            </div>

                            <div class="metros">
                                <h5 class="tranport-title"><i class="fa-solid fa-train-subway"></i> Subte</h5>
                                <p>Línea B | LEANDRO N. ALEM
                                    <br>
                                    Línea E | CORREO CENTRAL
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="location-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3284.079296441212!2d-58.3684163!3d-34.6021563!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a335325f19f9a3%3A0xfd34b93fba734a98!2sLuna%20Park!5e0!3m2!1ses-419!2sar!4v1656991219467!5m2!1ses-419!2sar"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </section>
                </div>
            </main>

            <%- include('../partials/footer') %>
    </body>

</html>