<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/style-home.css">
</head>

<body>

    <%- include('./partials/header') %>

        <div class="slider-home col-12">
            <img src="image/home/slider-home.png" width="100%" alt="Slider Home" wid>
        </div>
        <!-- Sección Buscador -->

        <div class="contenedor-buscador">
            <div class="barraDeBusqueda">
                <form action="" class="formularioBusqueda">

                 <div class="buscar" >
                    <input type="text" name="palabraClave" id="palabraClave" placeholder="Buscar sala, artista, recinto...">
                     <i class="fa-solid fa-magnifying-glass"></i>
                </div>

                <div>
                    <select name="categorias" id="categorias">
                        <option selected="selected">Categorias</option>
                        <option value="volvo">Clásica</option>
                        <option value="saab">Rock</option>
                        <option value="mercedes">Salsa</option>
                        <option value="audi">Reggaeton</option>
                    </select>
                 </div>
                 <div> 
                    <input type="date" name="fechaEvento" id="fechaEvento">
                </div>
                 <div class="lugar">
                    <input type="text" name="lugarEvento" id="lugarEvento" placeholder="Lugar">
                    <i class="fa-solid fa-location-dot"></i>
                 </div>  
                    
                    <input class="buscar_btn" type="button" value="buscar">
                </form>
            </div>
        </div>
        <!-- FIN -- Sección Buscador -->
        <!-- Sección Destacados -->
        <section class="seccion-destacados">
            
            <div class="titulo-seccion col-12">
                <h2>Destacados</h2>
                <hr class="line-title">
            </div>
            <div class="seccion_eventos">
                <% featured.forEach(element=> { %>
                    <article class="contenedor-evento">
                        <div class="imagen-evento">
                            <a href="products/detail">
                                <img src="/image/products/<%= element.image %> " alt="">
                            </a>
                        </div>

                        <div class="titulo-evento">
                            <h2>
                                <%= element.artist %>
                            </h2>
                            <h4>
                                <%= element.subtitle %>
                            </h4>
                        </div>

                        <div class="informacion-general">
                            <div class="iconos">
                                <div class="icono-fecha"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <div class="icono-valor"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                <div class="icono-ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="informacion-especifica">
                                <div class="fecha-evento">
                                    <p>
                                        <%= element.date1 %> a las <%= element.hour1 %>.
                                    </p>
                                </div>
                                <div class="valor-evento">
                                    <p>Desde $<%= element.price1 %>.-</p>
                                </div>
                                <div class="ubicacion-evento">
                                    <p>
                                        <%= element.stage %>, <%= element.city %>.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="boton-info">
                            <div class="icono-carrito"> <i class="fa fa-cart-plus" aria-hidden="true"></i></div>
                            <a href="" class="boton-amarillo">Comprar ahora</a>
                        </div>
                    </article>
                    <% }) %>      
            </div>
    </section>
        <!-- FIN -- Sección Destacados -->
        <br>
        <br>
        <!-- Sección Lo más buscado-->
        <section class="seccion-destacados">
            
                <div class="titulo-seccion col-12">
                    <h2>Lo más buscado</h2>
                    <hr class="line-title">
                </div>

                <div class="seccion_eventos">
                    <% searched.forEach(element=> { %>
                        <article class="contenedor-evento">
                            <div class="imagen-evento">
                                <a href="products/detail">
                                    <img src="/image/products/<%= element.image %> " alt="">
                                </a>
                            </div>

                            <div class="titulo-evento">
                                <h2>
                                    <%= element.artist %>
                                </h2>
                                <h4>
                                    <%= element.subtitle %>
                                </h4>
                            </div>

                            <div class="informacion-general">
                                <div class="iconos">
                                    <div class="icono-fecha"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    <div class="icono-valor"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                    <div class="icono-ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="informacion-especifica">
                                    <div class="fecha-evento">
                                        <p>
                                            <%= element.date1 %> a las <%= element.hour1 %>.
                                        </p>
                                    </div>
                                    <div class="valor-evento">
                                        <p>Desde $<%= element.price1 %>.-</p>
                                    </div>
                                    <div class="ubicacion-evento">
                                        <p>
                                            <%= element.stage %>, <%= element.city %>.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="boton-info">
                                <div class="icono-carrito"> <i class="fa fa-cart-plus" aria-hidden="true"></i></div>
                                <a href="" class="boton-amarillo">Comprar ahora</a>
                            </div>
                        </article>
                        <% }) %>    
                </div>
        </section>
        <!-- FIN -- Sección Lo más buscado -->
        <br>
        <br>
        <!-- Sección seleccionado para vos-->
        <section class="seccion-destacados">
            
                <div class="titulo-seccion col-12">
                    <h2>Seleccionado para vos</h2>
                    <hr class="line-title">
                </div>
                <div class="seccion_eventos">
                    <% selected.forEach(element=> { %>
                        <article class="contenedor-evento">
                            <div class="imagen-evento">
                                <a href="products/detail">
                                    <img src="/image/products/<%= element.image %> " alt="">
                                </a>
                            </div>

                            <div class="titulo-evento">
                                <h2>
                                    <%= element.artist %>
                                </h2>
                                <h4>
                                    <%= element.subtitle %>
                                </h4>
                            </div>

                            <div class="informacion-general">
                                <div class="iconos">
                                    <div class="icono-fecha"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    <div class="icono-valor"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                    <div class="icono-ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="informacion-especifica">
                                    <div class="fecha-evento">
                                        <p>
                                            <%= element.date1 %> a las <%= element.hour1 %>.
                                        </p>
                                    </div>
                                    <div class="valor-evento">
                                        <p>Desde $<%= element.price1 %>.-</p>
                                    </div>
                                    <div class="ubicacion-evento">
                                        <p>
                                            <%= element.stage %>, <%= element.city %>.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="boton-info">
                                <div class="icono-carrito"> <i class="fa fa-cart-plus" aria-hidden="true"></i></div>
                                <a href="" class="boton-amarillo">Comprar ahora</a>
                            </div>
                        </article>
                        <% }) %>
                </div>
           
        </section>
        <!-- FIN -- Sección Lo más buscado -->
        <br>
        <br>
        <%- include('./partials/footer') %>

</body>

</html>