<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/style-home.css">
</head>

<body>

    <%- include('./partials/header') %>

        <div class="slider-home col-12">
            <img src="/image/home/slider-home.png" width="100%" alt="Slider Home">
        </div>
        <!-- Sección Buscador -->

        <div class="search-container">
            <div class="search-nav">
                <form action="/"  method="get" class="search-form">

                 <div class="search" >
                    <input type="text" name="key-word" id="search-artist" placeholder="Buscar artista">
                     <i class="fa-solid fa-magnifying-glass"></i>
                </div>

                <div>
                    <select  name="category_id" id="category_id">
                        <option value="" selected>Selecciona una categoria</option>
                        <% categories.forEach(category=> { %>
                            <option value="<%= category.id%>">
                                <%=category.name%>
                            </option>
                            <% }) %>
                    </select>
                 </div>
                 <!-- <div> 
                    <input type="date" name="event-date" id="event-date">
                </div> -->
                 <div >
                    <select  name="teater_id" id="teater_id">
                        <option value="" selected>Selecciona un Teatro / Bar</option>
                        <% teaters.forEach(teater=> { %>
                            <option value="<%= teater.id%>">
                                <%=teater.name%>
                            </option>
                            <% }) %>
                    </select>
                 </div>  
                    
                    <input class="search-btn" type="submit" value="Buscar">
                </form>
            </div>
        </div>
        <!-- FIN -- Sección Buscador -->
        
        <div id="result-events">
           
            </div>
        </div>
        <% if (locals.isLogged) {%> 
        
            <section class="section-events">
            
                <div class="section-title col-12">
                    <% categories.forEach( category => { %>
                        <% if (user.category_id === category.id) { %> 
                    <h2>Seleccionados para vos - <%= category.name %> </h2>
                    <hr class="line-title">
                    <% }}) %> 
                </div>

                <div class="events-container">
                    <% allEvents.forEach(event=> { %>
                        <article class="article-container">
                            <a href="/products/detail/<%=event.id%>" class="article-container-link"></a>
                            <div class="article-image">
                                    <img src="/image/products/<%= event.imageEvent %> " alt="">
                            </div>

                            <div class="article-title">
                                <h2>
                                    <%= event.artist %>
                                </h2>
                                <h4>
                                    <%= event.subtitle %>
                                </h4>
                            </div>

                            <div class="article-information-general">
                                <div class="icons">
                                    <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    <div class="price-icon"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                    <div class="place-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="article-information-specific">
                                    <div class="event-date">
                                        <p>
                                            <% const eventFunctions = []; %>
                                            <% functions.forEach(eventFunction => { %> 
                                            <% if (event.id === eventFunction.event_id) {%>
                                                <% eventFunctions.push(eventFunction); %> 
                                                <% }}) %> 
                                             <%= eventFunctions[0].date %>  a las <%= eventFunctions[0].time %>. 
                                        </p>
                                    </div>
                                    <div class="event-price">
                                        <p> 
                                            <% const eventTickets = []; %>
                                        <% tickets.forEach(eventTicket => { %> 
                                        <% if (event.id === eventTicket.event_id) {%>
                                            <% eventTickets.push(eventTicket); %> 
                                            <% }}) %> 
                                            Desde $<%= eventTickets[0].price %> .-
                                             
                                        </p>
                                    </div>
                                    <div class="event-place">
                                        <p>
                                            <% for( let i = 0; i < teaters.length; i++) {%>
                                                <% if (event.teater_id === teaters[i].id) {%>
                                                    <%= teaters[i].name%>
                                                    <% }} %>,
                                            <% for( let i = 0; i < citys.length; i++) {%>
                                                <% if (event.city_id === citys[i].id) {%> 
                                                    <%= citys[i].cityName %>.
                                                    <% }} %>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="article-buttons">
                                <div class="cart-icon"> <i class="fa fa-cart-plus" aria-hidden="true"></i></div>
                                <a href="" class="buy-button">Comprar ahora</a>
                            </div>
                        </article>

                        <% }) %>    
                </div>
        </section>
        
        <br>
        <br>

        <section class="section-events">
            
            <div class="section-title col-12">
                <% citys.forEach( city => { %>
                    <% if (user.city_id === city.id) { %> 
                <h2>En tu ciudad, <%= city.cityName %> </h2>
                <hr class="line-title">
                <% }}) %> 
            </div>

            <div class="events-container">
                <% cityEvents.forEach(event=> { %>
                    <article class="article-container">
                        <a href="/products/detail/<%=event.id%>" class="article-container-link"></a>
                        <div class="article-image">
                                <img src="/image/products/<%= event.imageEvent %> " alt="">
                        </div>

                        <div class="article-title">
                            <h2>
                                <%= event.artist %>
                            </h2>
                            <h4>
                                <%= event.subtitle %>
                            </h4>
                        </div>

                        <div class="article-information-general">
                            <div class="icons">
                                <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <div class="price-icon"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                <div class="place-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="article-information-specific">
                                <div class="event-date">
                                    <p>
                                        <% const eventFunctions = []; %>
                                        <% functions.forEach(eventFunction => { %> 
                                        <% if (event.id === eventFunction.event_id) {%>
                                            <% eventFunctions.push(eventFunction); %> 
                                            <% }}) %> 
                                         <%= eventFunctions[0].date %>  a las <%= eventFunctions[0].time %>. 
                                    </p>
                                </div>
                                <div class="event-price">
                                    <p> 
                                        <% const eventTickets = []; %>
                                        <% tickets.forEach(eventTicket => { %> 
                                        <% if (event.id === eventTicket.event_id) {%>
                                            <% eventTickets.push(eventTicket); %> 
                                            <% }}) %> 
                                            Desde $<%= eventTickets[0].price %> .-
                                         
                                    </p>
                                </div>
                                <div class="event-place">
                                    <p>
                                        <% for( let i = 0; i < teaters.length; i++) {%>
                                            <% if (event.teater_id === teaters[i].id) {%>
                                                <%= teaters[i].name%>
                                                <% }} %>,
                                        <% for( let i = 0; i < citys.length; i++) {%>
                                            <% if (event.city_id === citys[i].id) {%> 
                                                <%= citys[i].cityName %>.
                                                <% }} %>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="article-buttons">
                            <div class="cart-icon"> <i class="fa fa-cart-plus" aria-hidden="true"></i></div>
                            <a href="" class="buy-button">Comprar ahora</a>
                        </div>
                    </article>

                    <% }) %>    
            </div>
    </section>
           

        <% } else {%> 
        
        <br>
        <br>
        
        <section class="section-events">
            
                <div class="section-title col-12">
                    <h2>Destacados</h2>
                    <hr class="line-title">
                </div>

                <div class="events-container">
                    <% allEvents.forEach(event=> { %>
                        <article class="article-container">
                            <a href="/products/detail/<%=event.id%>" class="article-container-link"></a>
                            <div class="article-image">
                                    <img src="/image/products/<%= event.imageEvent %> " alt="">
                            </div>

                            <div class="article-title">
                                <h2>
                                    <%= event.artist %>
                                </h2>
                                <h4>
                                    <%= event.subtitle %>
                                </h4>
                            </div>

                            <div class="article-information-general">
                                <div class="icons">
                                    <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    <div class="price-icon"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                    <div class="place-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="article-information-specific">
                                    <div class="event-date">
                                        <p>
                                            <% const eventFunctions = []; %>
                                            <% functions.forEach(eventFunction => { %> 
                                            <% if (event.id === eventFunction.event_id) {%>
                                                <% eventFunctions.push(eventFunction); %> 
                                                <% }}) %> 
                                             <%= eventFunctions[0].date %>  a las <%= eventFunctions[0].time %>. 
                                        </p>
                                    </div>
                                    <div class="event-price">
                                        <p> 
                                            <% const eventTickets = []; %>
                                            <% tickets.forEach(eventTicket => { %> 
                                            <% if (event.id === eventTicket.event_id) {%>
                                                <% eventTickets.push(eventTicket); %> 
                                                <% }}) %> 
                                                Desde $<%= eventTickets[0].price %> .-
                                             
                                        </p>
                                    </div>
                                    <div class="event-place">
                                        <p>
                                            <% for( let i = 0; i < teaters.length; i++) {%>
                                                <% if (event.teater_id === teaters[i].id) {%>
                                                    <%= teaters[i].name%>
                                                    <% }} %>,
                                            <% for( let i = 0; i < citys.length; i++) {%>
                                                <% if (event.city_id === citys[i].id) {%> 
                                                    <%= citys[i].cityName %>.
                                                    <% }} %>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="article-buttons">
                                <div class="cart-icon"> <i class="fa fa-cart-plus" aria-hidden="true"></i></div>
                                <a href="" class="buy-button">Comprar ahora</a>
                            </div>
                        </article>

                        <% }) %>    
                </div>
        </section>
        <% } %> 
        <br>
        <br>


        <%- include('./partials/footer') %>
<script src="../../js/searchIndex.js"></script>
</body>

</html>