<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/style-profile.css">
    <link rel="stylesheet" href="/css/style-invalid-Input.css" </head>

    <body>
        <%- include('../partials/header') %>

            <main>
                <section class="user-profile-section">
                    <div class="thumb-profile">
                        <div class="card color-card element-animation">
                            <ul class="icon-list">
                                <li>
                                    <a href="/" class="arrow-back">
                                        <i class="fas fa-arrow-left w"></i>
                                    </a>
                                </li>
                            </ul>
                            <img src="/image/users/<%=user.imageUser %>" alt="profile-pic"
                                class="profile-img">
                            <h1 class="title">
                                <%= user.name%>
                                    <%= user.lastName%>
                            </h1>
                            <p class="job-title">
                                <%= locals.isLogged && user.role_id==1 ? 'Administrador' : 'Cliente' %>
                            </p>
                            <div class="desc m-top-16">
                                <p>
                                    <%= user.email%>
                                </p>
                            </div>
                            <div class="btns-actions">
                                <button class="btn color-a" id="edit-profile-btn">Editar perfil</button>
                                <button class="btn color-b" id="edit-password-btn">Modificar clave</button>
                            </div>
                            <% if (user.role_id == 1 ) {%>
                            <div class="btn-users-list">
                                <button class="btn btn-long color-c">Ver usuarios</button>
                            </div
                            <% } %>
                        </div>
                    </div>

                    </div>
                    <div class="edit-profile-container card card-form glass-effect d-none element-animation" id="editProfile">
                        <form class="form-NotSensibleData" action="/users/profile/update/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data"  class="form-edit-profile">

                            <h2 class="title-form">Modificar tus datos</h2>
                            <div class="form-inputs">
                                <div class="inputs-box">
                                    <div class="item-input">
                                        <label for="name">Nombre*
                                            <input type="text" name="name" id="name" class="controls name" value="<%= user.name %> ">
                                        </label>
                                    </div>

                                    <div class="item-input">
                                        <label for="lastName">Apellido*
                                            <input type="text" name="lastName" id="lastName" class="controls lastName" value="<%= user.lastName %> ">
                                        </label>
                                    </div>

                                    <div class="item-input">
                                        <label for="email">Email*
                                            <input type="email" name="email" id="email" class="controls email" value="<%= user.email %> ">
                                        </label>
                                    </div>

                                    <div class="item-input">
                                        <label for="imageUser">Eligí tu foto de perfil*
                                            <input type="hidden" name="oldImage" value="<%= user.imageUser %>">
                                            <input class="controls" type="file" name="imageUser" id="imageUser" >
                                        </label>
                                    </div>
                                </div>
                                <div class="inputs-box">
                                    <div class="item-input">

                                        <label for="country_id">Elegí tu país*
                                            <select name="country_id" class="select-city controls">
                                                <% countries.forEach(country=> { %>
                                                    <option value="<%= country.id%>" <%=user.country_id==country.id
                                                        ? 'selected' : null%>>
                                                        <%=country.countryName%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </label>
                                    </div>

                                    <div class="item-input">
                                        <label for="state_id">Elegí tu provincia*
                                            <select name="state_id" class="select-state controls">
                                                <% states.forEach(state=> { %>
                                                    <option value="<%= state.id%>"
                                                        <%=user.state_id==state.id? 'selected' : null%>>
                                                        <%=state.stateName%>
                                                    </option>
                                                    <% }) %>

                                            </select>
                                        </label>
                                    </div>

                                    <div class="item-input">
                                        <label for="city_id">Elegí tu ciudad*
                                            <select name="city_id" class="select-city controls">
                                                <% citys.forEach(city=> { %>
                                                    <option value="<%= city.id%>" <%=user.city_id==city.id? 'selected'
                                                        : null%>><%=city.cityName%>
                                                    </option>
                                                    <% }) %>

                                            </select>
                                        </label>
                                    </div>

                                    <div class="item-input">
                                        <label for="category_id">Elegí tu categoria preferida*
                                            <select name="category_id" class="select-category controls">
                                                <% categories.forEach(category=> { %>
                                                    <option value="<%= category.id%>"
                                                        <%=user.category_id==category.id? 'selected' : null%>>
                                                        <%=category.name%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="btns-actions-form">
                                <button class="btn color-b btn-cancel" id="cancelEditForm" type="button">Cancelar</button>                           
                                <button class="btn color-a" type="submit">Actualizar</button>
                            </div>
                        </form>                
                    </div>
                                        
                    <div class="edit-profile-container card card-form glass-effect d-none element-animation" id="editPassword">
                        <form action="/users/profile/updatePass/<%=user.id%>?_method=PUT" method="POST"  class="form-edit-password">
                            <h2 class="title-form">Modificar tus datos</h2>
                            <div class="form-inputs d-column">
                                <div class="item-input">
                                    <label for="password">Contraseña actual*
                                        <input type="password" name="password" id="password" class="controls">
                                    </label>
                                </div>
                                <div class="item-input">
                                    <label for="newPassword">Nueva contraseña*
                                        <input type="password" name="newPassword" id="newPassword" class="controls">
                                    </label>
                                </div>
                                <div class="item-input">
                                    <label for="confirmPassword">Repetir nueva contraseña*
                                        <input type="password" name="confirmPassword" id="confirmPassword" class="controls">
                                    </label>
                                </div>
                            </div>
                            <div class="btns-actions-form">
                                <button class="btn color-b btn-cancel" id="cancelPasswordForm" type="button">Cancelar</button>                           
                                <button class="btn color-a" type="submit">Actualizar</button>
                            </div>
                        </form>
                    </div>

                    <div class="edit-profile-container card card-form glass-effect element-animation" id="listUsers">
                        <form action="" method="POST" enctype="multipart/form-data" class="form-edit-password">
                            <h4 class="title-form">Lista de usuarios</h4>
                            <table data-current-page="1" aria-live="polite">
                                <thead>
                                    <tr>
                                        <td>Nombre</td>
                                        <td>Apellido</td>
                                        <td>Email</td>
                                        <td>Rol</td>
                                    </tr>
                                </thead>
                                <tbody id="paginated-list">
                                    <% users.forEach( userDB => { %>                                         
                                    <tr>
                                        <td>
                                        <%= userDB.name %> 
                                        </td>
                                        <td>
                                        <%= userDB.lastName %> 
                                        </td>
                                        <td>
                                        <%= userDB.email %> 
                                        </td>
                                        <td>
                                        <select name="userRole" id="userRole">
                                            <% if(user.role_id == 1) { %> 
                                                <option value="1" selected>Administrador</option>
                                                <option value="2">Cliente</option>
                                            <% } else { %>
                                                <option value="1">Administrador</option>
                                                <option value="2" selected>Cliente</option>
                                            <% } %>
                                        </select>
                                        </td>
                                    </tr>
                                    <% }) %> 
                                </tbody>
                            </table>                          
                            <nav class="pagination-container">
                                <button type="button" class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
                                  &lt;
                                </button>
                                 
                                <div id="pagination-numbers">
                               
                                </div>
                                 
                                <button type="button" class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
                                  &gt;
                                </button>
                            </nav>
                        </form>
                    </div>
                </section>
            </main>
            
            <%- include('../partials/footer') %>
            <script src="/js/profile.js"></script>
    </body>

</html>