<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/style-register.css">
    <link rel="stylesheet" href="/css/style-invalid-Input.css" </head>


    <body>
        <%- include('../partials/header') %>

            <main class="fondoImagen">
                <div class="errors">

                </div>

                <div class="formulario">
                    <form class="form" action="/users/register" method="POST" enctype="multipart/form-data">

                        <h2>Crea tu cuenta</h2>
                        <div class="name-and-surname">
                            <div class="item-input">
                                <div class="input-user ">
                                    <label for="name">Nombre*
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </label>
                                </div>
                                <input type="text" name="name" id="name" class="controls name"
                                    value="<%= locals.oldData ? oldData.name : null %>">
                                <small class="error-text">Error text</small>
                            </div>

                            <div class="item-input">
                                <div class="input-user">
                                    <label for="lastName">Apellido*
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </label>
                                </div>
                                <input type="text" name="lastName" id="lastName" class="controls lastName"
                                    value="<%= locals.oldData ? oldData.lastName : null %>">
                                <small class="error-text">Error text</small>
                            </div>
                        </div>
                        <div class="users">

                            <div class="item-input">
                                <div class="input-user">
                                    <label for="email">Email*
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </label>
                                </div>
                                <input type="email" name="email" id="email" class="controls email"
                                    value="<%= locals.oldData ? oldData.email : null %>">
                                <small class="error-text">Error text</small>
                            </div>

                            <div class="item-input">
                                <div class="input-user">
                                    <label for="password">Contraseña*
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </label>
                                </div>
                                <input type="password" name="password" id="password" class="controls password"
                                    value="<%= locals.oldData ? oldData.password : null %>">
                                <small class="error-text">Error text</small>
                            </div>

                            <div class="item-input">
                                <div class="input-user">
                                    <label for="passwordConfirm">Repetir Contraseña*
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </label>
                                </div>
                                <input type="password" name="passwordConfirm" id="passwordConfirm" class="controls passwordConfirm">
                                <small class="error-text">Error text</small>
                            </div>

                            <div class="item-input">
                                <div class="input-user">
                                    <label for="country_id">Elegí tu país* </label>
                                </div>
                                <select name="country_id" class="select-city">
                                    <% countries.forEach(country=> { %>
                                        <option value="<%= country.id%>">
                                            <%=country.countryName%>
                                        </option>
                                        <% }) %>

                                </select>
                            </div>

                            <div class="item-input">
                                <div class="input-user">
                                    <label for="city_id">Elegí tu ciudad* </label>
                                </div>
                                <select name="city_id" class="select-city">
                                    <% citys.forEach(city=> { %>
                                        <option value="<%= city.id%>">
                                            <%=city.cityName%>
                                        </option>
                                        <% }) %>

                                </select>
                            </div>


                            <div class="item-input">
                                <div class="input-user">
                                    <label for="imageUser">Eligí tu foto de perfil*
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </label>
                                </div>
                                <input class="controls imageUser" type="file" name="imageUser" id="imageUser"
                                    value="<%= locals.oldData ? oldData.imageUser : null %>">
                                <small class="error-text">Error text</small>
                            </div>

                            <div class="item-input">
                                <div class="input-user">
                                    <label for="category_id">Elegí tu categoria preferida*</label>
                                </div>
                                <div class="selects">
                                    <select name="category_id" class="select-category">
                                        <% categories.forEach(category=> { %>
                                            <option value="<%= category.id%>">
                                                <%=category.name%>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                            </div>

                            <div class="register-button">
                                <button type="submit">Registrarse</button>
                            </div>
                    </form>
                </div>


                <script src="../../../js/registerValidation.js"></script>

            </main>



            <%- include('../partials/footer') %>



    </body>

</html>